In [1]:
data={"speed":[400,500,600],
     "horsepower":[225,270,320],
     "torque":[320,350,270]}

In [2]:
from pandas import DataFrame
frame1=DataFrame(data)

In [3]:
frame1

   speed  horsepower  torque
0    400         225     320
1    500         270     350
2    600         320     270

In [4]:
data1={"speed":[200,300,400],
     "horsepower":[180,150,140],
     "torque":[250,180,190]}

In [5]:
frame2=DataFrame(data1)

In [6]:
frame2

   speed  horsepower  torque
0    200         180     250
1    300         150     180
2    400         140     190

In [7]:
frame1+frame2

   speed  horsepower  torque
0    600         405     570
1    800         420     530
2   1000         460     460

In [8]:
frame1-frame2

   speed  horsepower  torque
0    200          45      70
1    200         120     170
2    200         180      80

In [9]:
from pandas import Series
se=Series([100,200,300],index=['speed','horsepower','torque'])

In [10]:
se

speed         100
horsepower    200
torque        300
dtype: int64

In [11]:
se1=Series([150,180,320],index=['speed','horsepower','torque'])
se1

speed         150
horsepower    180
torque        320
dtype: int64

In [14]:
frame1+se

   speed  horsepower  torque
0    500         425     620
1    600         470     650
2    700         520     570

In [15]:
frame1-se

   speed  horsepower  torque
0    300          25      20
1    400          70      50
2    500         120     -30

In [17]:
frame2+se1

   speed  horsepower  torque
0    350         360     570
1    450         330     500
2    550         320     510

In [20]:
frame2-se1

   speed  horsepower  torque
0     50           0     -70
1    150         -30    -140
2    250         -40    -130